@page "/samples/refresher"

<PlaygroundContainer>
    <Header>
        <h2>Basic Usage</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <IonHeader>
                <IonToolbar>
                    <IonTitle>Pull to Refresh</IonTitle>
                </IonToolbar>
            </IonHeader>

            <IonContent Class="ion-padding">
                <IonRefresher slot="fixed" IonRefresh="BasicIonRefreshCallback">
                    <IonRefresherContent></IonRefresherContent>
                </IonRefresher>

                <p>Pull this content down to trigger the refresh.</p>
            </IonContent>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Pull Properties</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <IonHeader>
                <IonToolbar>
                    <IonTitle>Pull to Refresh</IonTitle>
                </IonToolbar>
            </IonHeader>

            <IonContent Class="ion-padding">
                <IonRefresher slot="fixed" PullFactor="0.5" PullMin="100" PullMax="200" IonRefresh="PullPropertiesIonRefreshCallback">
                    <IonRefresherContent></IonRefresherContent>
                </IonRefresher>

                <p>Pull this content down to trigger the refresh.</p>
            </IonContent>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Custom Refresher Content</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <IonHeader>
                <IonToolbar>
                    <IonTitle>Pull to Refresh</IonTitle>
                </IonToolbar>
            </IonHeader>

            <IonContent Class="ion-padding">
                <IonRefresher slot="fixed" IonRefresh="CustomContentIonRefreshCallback">
                    <IonRefresherContent
                        PullingIcon="chevron-down-circle-outline"
                        PullingText="Pull to refresh"
                        RefreshingSpinner="@IonSpinnerName.Circles"
                        RefreshingText="Refreshing...">
                    </IonRefresherContent>
                </IonRefresher>

                <p>Pull this content down to trigger the refresh.</p>
            </IonContent>
        </DevicePreview>
    </ChildContent>

</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Usage with Virtual Scroll</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <IonHeader>
                <IonToolbar>
                    <IonTitle>Pull to Refresh</IonTitle>
                </IonToolbar>
            </IonHeader>

            <IonContent ScrollY="false">
                <IonRefresher slot="fixed" IonRefresh="VirtualScrollIonRefreshCallback">
                    <IonRefresherContent></IonRefresherContent>
                </IonRefresher>

                <div class="ion-content-scroll-host ion-padding">
                    <p>Pull this content down to trigger the refresh.</p>
                </div>
            </IonContent>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Advanced Usage</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <IonHeader>
                <IonToolbar>
                    <IonTitle>Pull to Refresh</IonTitle>
                </IonToolbar>
            </IonHeader>

            <IonContent>
                <IonRefresher slot="fixed" IonRefresh="AdvancedIonRefreshCallback">
                    <IonRefresherContent></IonRefresherContent>
                </IonRefresher>

                <IonList id="list">
                    @foreach (var (name, unread) in _list)
                    {
                    <IonItem Button="@true">
                        <IonIcon Color="@IonColor.Primary" Name="@(unread ? "ellipse" : string.Empty)" slot="start"></IonIcon>
                        <IonLabel>
                            <h2>@name</h2>
                            <p>New message from @name</p>
                        </IonLabel>
                    </IonItem>
                    }
                </IonList>
            </IonContent>

        </DevicePreview>
    </ChildContent>


</PlaygroundContainer>