@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<IonApp Mode="@IonMode.Default">

    <IonSplitPane When="md" ContentId="main-content">

        <NavMenu ContentId="main-content"/>

        <div class="ion-page" id="main-content">
            <IonHeader>
                <IonToolbar>
                    <IonButtons slot="start">
                        <IonMenuButton/>
                    </IonButtons>
                    <IonTitle>Content</IonTitle>

                    <IonButtons slot="end">
                        @*<IonButton id="popover-trigger">
                            <IonIcon slot="icon-only" Name="brush"></IonIcon>
                        </IonButton>*@
                        <IonToggle @ref="@_themeToggle" IonChange="@ThemeChange"/>
                        <IonToggle @ref="@_darkToggle" IonChange="@DarkModeChange"/>
                    </IonButtons>
                </IonToolbar>
            </IonHeader>

            <IonContent class="container">
                @Body
            </IonContent>
        </div>
    </IonSplitPane>

    @*<IonPopover Trigger="popover-trigger" DismissOnSelect="@true" Side="@IonPopoverSide.End">
        <IonContent>
            <IonList>
                <IonItem>
                    <IonToggle @ref="@_darkToggle" IonChange="@DarkModeChange">Dark Mode</IonToggle>
                </IonItem>
                <IonItem>
                    <IonGrid>
                        <IonRow>
                            <IonCol>
                                <div style="background-color: red; width: 1rem; height: 1rem; border-radius: 5rem"></div>
                            </IonCol>
                            <IonCol>
                                <div style="background-color: lime; width: 1rem; height: 1rem; border-radius: 5rem"></div>
                            </IonCol>
                        </IonRow>
                    </IonGrid>
                </IonItem>
            </IonList>
        </IonContent>
    </IonPopover>*@


</IonApp>