@page "/samples/fab"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonFab>
                        <IonFabButton>
                            <IonIcon Name="add"></IonIcon>
                        </IonFabButton>
                    </IonFab>
                </div>
            </div>
        </div>
        
        <h2>List Side</h2>
        <p>
            The <code>side</code> property of the <a href="/docs/api/fab-list">fab list</a> component controls where it
            appears relative to the main fab button. A single fab can have multiple fab lists as long as they
            all have different values for <code>side</code>.
        </p>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonFab slot="fixed" Horizontal="@IonHorizontalAlignment.Center" Vertical="@IonVerticalAlignment.Center">
                        <IonFabButton>
                            <IonIcon Name="add"></IonIcon>
                        </IonFabButton>
                        <IonFabList Side="@IonFabListSide.Top">
                            <IonFabButton>
                                <IonIcon Name="chevron-up"></IonIcon>
                            </IonFabButton>
                        </IonFabList>
                        <IonFabList Side="@IonFabListSide.End">
                            <IonFabButton>
                                <IonIcon Name="chevron-forward"></IonIcon>
                            </IonFabButton>
                            <IonFabButton>
                                <IonIcon Name="chevron-forward"></IonIcon>
                            </IonFabButton>
                        </IonFabList>
                        <IonFabList Side="@IonFabListSide.Bottom">
                            <IonFabButton>
                                <IonIcon Name="chevron-down"></IonIcon>
                            </IonFabButton>
                        </IonFabList>
                        <IonFabList Side="@IonFabListSide.Start">
                            <IonFabButton>
                                <IonIcon Name="chevron-back"></IonIcon>
                            </IonFabButton>
                            <IonFabButton>
                                <IonIcon Name="chevron-back"></IonIcon>
                            </IonFabButton>
                        </IonFabList>
                    </IonFab>
                </div>
            </div>
        </div>
        
        <h2>Positioning</h2>
        <p>
            In order to place the fab in a fixed position, it should be assigned to the <code>fixed</code> 
            slot of the outer <a href="/docs/api/content">content</a> component. 
            Use the <code>vertical</code> and <code>horizontal</code> props to control the alignment 
            of the fab in the viewport. 
            The <code>edge</code> prop will cause the fab button to overlap with the app's header or footer.
        </p>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Fab Buttons</ion-title>
                      </ion-toolbar>
                    </ion-header>
                    <IonContent class="ion-padding">
                      <IonFab slot="fixed" Vertical="@IonVerticalAlignment.Top" Horizontal="@IonHorizontalAlignment.Start">
                        <IonFabButton>
                          <IonIcon name="chevron-forward-circle"></IonIcon>
                        </IonFabButton>
                        <IonFabList Side="@IonFabListSide.End">
                          <IonFabButton>
                            <IonIcon Name="document"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="color-palette"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="globe"></IonIcon>
                          </IonFabButton>
                        </IonFabList>
                      </IonFab>
                    
                      <IonFab slot="fixed" Vertical="@IonVerticalAlignment.Top" Horizontal="@IonHorizontalAlignment.End" Edge="true">
                        <IonFabButton>
                          <IonIcon Name="chevron-down-circle"></IonIcon>
                        </IonFabButton>
                        <IonFabList Side="@IonFabListSide.Bottom">
                          <IonFabButton>
                            <IonIcon Name="document"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="color-palette"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="globe"></IonIcon>
                          </IonFabButton>
                        </IonFabList>
                      </IonFab>
                          
                      <IonFab slot="fixed" Vertical="@IonVerticalAlignment.Bottom" Horizontal="@IonHorizontalAlignment.End">
                        <IonFabButton>
                          <IonIcon Name="chevron-up-circle"></IonIcon>
                        </IonFabButton>
                        <IonFabList Side="@IonFabListSide.Top">
                          <IonFabButton>
                            <IonIcon Name="document"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="color-palette"></IonIcon>
                          </IonFabButton>
                          <IonFabButton>
                            <IonIcon Name="globe"></IonIcon>
                          </IonFabButton>
                        </IonFabList>
                      </IonFab>
                    </IonContent>
                </div>
            </div>
        </div>
        
        <h2>Button Sizing</h2>
        <p>
            Setting the <code>size</code> property of the main fab button to <code>"small"</code> 
            will render it at a mini size. Note that this property will not have an effect when used with 
            the inner fab buttons.
        </p>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonFab>
                      <IonFabButton Size="small">
                        <IonIcon Name="add"></IonIcon>
                      </IonFabButton>
                      <IonFabList Side="@IonFabListSide.End">
                        <IonFabButton>
                          <IonIcon Name="document"></IonIcon>
                        </IonFabButton>
                        <IonFabButton>
                          <IonIcon Name="color-palette"></IonIcon>
                        </IonFabButton>
                        <IonFabButton>
                          <IonIcon Name="globe"></IonIcon>
                        </IonFabButton>
                      </IonFabList>
                    </IonFab>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <h3>Colors</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonFab slot="fixed" Horizontal="@IonHorizontalAlignment.Center" Vertical="@IonVerticalAlignment.Center">
                      <IonFabButton Color="@IonColor.Secondary">
                        <IonIcon Name="add"></IonIcon>
                      </IonFabButton>
                      <IonFabList Side="@IonFabListSide.Top">
                        <IonFabButton Color="@IonColor.Primary">
                          <IonIcon name="chevron-up"></IonIcon>
                        </IonFabButton>
                      </IonFabList>
                      <IonFabList Side="@IonFabListSide.End">
                        <IonFabButton Color="@IonColor.Tertiary">
                          <IonIcon Name="chevron-forward"></IonIcon>
                        </IonFabButton>
                        <IonFabButton Color="@IonColor.Success">
                          <IonIcon Name="chevron-forward"></IonIcon>
                        </IonFabButton>
                      </IonFabList>
                      <IonFabList Side="@IonFabListSide.Bottom">
                        <IonFabButton Color="@IonColor.Warning">
                          <IonIcon Name="chevron-down"></IonIcon>
                        </IonFabButton>
                      </IonFabList>
                      <IonFabList Side="@IonFabListSide.Start">
                        <IonFabButton Color="@IonColor.Danger">
                          <IonIcon Name="chevron-back"></IonIcon>
                        </IonFabButton>
                        <IonFabButton Color="@IonColor.Dark">
                          <IonIcon Name="chevron-back"></IonIcon>
                        </IonFabButton>
                      </IonFabList>
                    </IonFab>
                </div>
            </div>
        </div>
        
        <h3>CSS Custom Properties</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <div class="custom-css">
                        <IonFab>
                            <IonFabButton>
                                <IonIcon Name="add"></IonIcon>
                            </IonFabButton>
                            <IonFabList Side="@IonFabListSide.End">
                                <IonFabButton>
                                    <IonIcon Name="document"></IonIcon>
                                </IonFabButton>
                                <IonFabButton>
                                    <IonIcon Name="color-palette"></IonIcon>
                                </IonFabButton>
                                <IonFabButton>
                                    <IonIcon Name="globe"></IonIcon>
                                </IonFabButton>
                            </IonFabList>
                        </IonFab>
                    </div>
                </div>
            </div>
        </div>
        
    </IonContent>
</div>