@page "/samples/content"

<PlaygroundContainer Title="Basic Usage">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <BasicUsage/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Header & Footer">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <HeaderAndFooter/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Fullscreen Content">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <FullscreenContent/>
    </DevicePreview>
</PlaygroundContainer>

<h2>Fullscreen Content</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">

        </div>
    </div>
</div>

<PlaygroundContainer Title="Fixed Content">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <FixedContent/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Scroll Methods">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <ScrollMethods/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Scroll By Point (relative)">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <ScrollByPoint/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Scroll To Point (absolute)">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <ScrollToPoint/>
    </DevicePreview>
</PlaygroundContainer>

<PlaygroundContainer Title="Scroll Events">
    <DevicePreview Mode="@IonMode.MaterialDesign">
        <ScrollEvents/>
    </DevicePreview>
</PlaygroundContainer>