<div Class="container">
    <style>
      ion-popover.popup-width {
          --width: 80px;
      }
    </style>
    
  <IonButton id="top-center">Side=Top, Alignment=Center</IonButton>
  <IonPopover Class="popup-width" Trigger="top-center" Side="@IonPopoverSide.Top" Alignment="@IonPopoverAlignment.Center">
    <IonContent Class="ion-padding">Hello World!</IonContent>
  </IonPopover>

  <IonButton id="bottom-start">Side=Bottom, Alignment=Start</IonButton>
  <IonPopover Class="popup-width" Trigger="bottom-start" Side="@IonPopoverSide.Bottom" Alignment="@IonPopoverAlignment.Start">
    <IonContent Class="ion-padding">Hello World!</IonContent>
  </IonPopover>

  <IonButton id="left-start">Side=Left, Alignment=Start</IonButton>
  <IonPopover Class="popup-width" Trigger="left-start" Side="@IonPopoverSide.Left" Alignment="@IonPopoverAlignment.Start">
    <IonContent Class="ion-padding">Hello World!</IonContent>
  </IonPopover>

  <IonButton id="right-end">Side=Right, Alignment=End</IonButton>
  <IonPopover Class="popup-width" Trigger="right-end" Side="@IonPopoverSide.Right" Alignment="@IonPopoverAlignment.End">
    <IonContent Class="ion-padding">Hello World!</IonContent>
  </IonPopover>
</div>