<div class="css-custom-properties">
  <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
    <IonLabel>Custom Item</IonLabel>
  </IonItem>

  <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
    <IonLabel>Custom Item</IonLabel>
  </IonItem>

  <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
    <IonLabel>Custom Item</IonLabel>
  </IonItem>
</div>