<div class="input-highlight">
    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched">
      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused</IonLabel>
      <ion-input></ion-input>
    </IonItem>
    
    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched ion-valid">
      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused & Valid</IonLabel>
      <ion-input></ion-input>
    </IonItem>
    
    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched ion-invalid">
      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused & Invalid</IonLabel>
      <ion-input></ion-input>
    </IonItem>
</div>