@page "/samples/item"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                      <IonLabel>Basic Item</IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel>
                        Multi-line text that should ellipsis when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.
                      </IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel class="ion-text-wrap">
                        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.
                      </IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel>
                        <h1>H1 Heading</h1>
                        <p>Paragraph</p>
                      </IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel>
                        <h2>H2 Heading</h2>
                        <p>Paragraph</p>
                      </IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel>
                        <h3>H3 Heading</h3>
                        <p>Paragraph</p>
                      </IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Clickable Items</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem Href="#">
                      <IonLabel>Anchor Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Href="#" Disabled="@true">
                      <IonLabel>Disabled Anchor Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true">
                      <IonLabel>Button="@true" Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Disabled="@true">
                      <IonLabel>Disabled Button="@true" Item</IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Detail="@true" Arrows</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem Detail="@true">
                        <IonLabel>
                            <h3>Text Item</h3>
                            <p>Detail="@true" set to true - Detail="@true" arrow displays on both modes</p>
                        </IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true">
                        <IonLabel>
                            <h3>Button="@true" Item</h3>
                            <p>Default Detail="@true" - Detail="@true" arrow displays on iOS only</p>
                        </IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true">
                        <IonLabel>
                            <h3>Button="@true" Item</h3>
                            <p>Detail="@true" set to true - Detail="@true" arrow displays on both modes</p>
                        </IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@false">
                        <IonLabel>
                            <h3>Button="@true" Item</h3>
                            <p>Detail="@true" set to false - Detail="@true" arrow hidden on both modes</p>
                        </IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true" DetailIcon="caret-forward-outline">
                        <IonLabel>
                            <h3>Button="@true" Item</h3>
                            <p>Detail="@true" set to true - Detail="@true" arrow displays on both modes</p>
                            <p>Detail="@true" icon set to caret-forward-outline</p>
                        </IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Item Lines</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                      <IonLabel> Default Item Lines </IonLabel>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Inset">
                      <IonLabel>Item Lines Inset</IonLabel>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Full">
                      <IonLabel>Item Lines Full</IonLabel>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.None">
                      <IonLabel>Item Lines None</IonLabel>
                    </IonItem>
                    
                    <IonItem>
                      <IonIcon Name="star" Slot="start"></IonIcon>
                      <IonLabel>Default Item Lines</IonLabel>
                      <IonIcon Name="information-circle" slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Inset">
                      <IonIcon Name="star" Slot="start"></IonIcon>
                      <IonLabel>Item Lines Inset</IonLabel>
                      <IonIcon Name="information-circle" slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Full">
                      <IonIcon Name="star" Slot="start"></IonIcon>
                      <IonLabel>Item Lines Full</IonLabel>
                      <IonIcon Name="information-circle" slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.None">
                      <IonIcon Name="star" Slot="start"></IonIcon>
                      <IonLabel>Item Lines None</IonLabel>
                      <IonIcon Name="information-circle" Slot="end"></IonIcon>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Media Items</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                        <IonAvatar Slot="start">
                            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </IonAvatar>
                        <IonLabel> Avatar Item </IonLabel>
                    </IonItem>
                    
                    <IonItem>
                        <IonThumbnail Slot="start">
                            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                        </IonThumbnail>
                        <IonLabel> Thumbnail Item </IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Buttons in Items</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                        <IonButton Slot="start"> Start </IonButton>
                        <IonLabel>Default Buttons</IonLabel>
                        <IonButton Slot="end"> End </IonButton>
                    </IonItem>
                    
                    <IonItem>
                        <IonButton Slot="start">
                            Start
                            <IonIcon Name="home" Slot="end"></IonIcon>
                        </IonButton>
                        <IonLabel>Buttons with Icons</IonLabel>
                        <IonButton Slot="end">
                            <IonIcon Name="star" Slot="end"></IonIcon>
                            End
                        </IonButton>
                    </IonItem>
                    
                    <IonItem>
                        <IonButton Slot="start">
                            <IonIcon Slot="icon-only" Name="navigate"></IonIcon>
                        </IonButton>
                        <IonLabel>Icon only Buttons</IonLabel>
                        <IonButton Slot="end">
                            <IonIcon Slot="icon-only" Name="star"></IonIcon>
                        </IonButton>
                    </IonItem>
                    
                    <IonItem>
                        <IonLabel>Button="@true" Sizes</IonLabel>
                        <IonButton Slot="end" Size="@IonButtonSize.Small"> Small </IonButton>
                        <IonButton Slot="end" Size="@IonButtonSize.Default"> Default </IonButton>
                        <IonButton Slot="end" Size="@IonButtonSize.Large"> Large </IonButton>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Icons in Items</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                      <IonLabel> Default Icon </IonLabel>
                      <IonIcon Name="information-circle" Slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel> Large Icon </IonLabel>
                      <IonIcon Name="information-circle" Size="@IconSize.Large" Slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem>
                      <IonLabel> Small Icon </IonLabel>
                      <IonIcon Name="information-circle" Size="@IconSize.Small" Slot="end"></IonIcon>
                    </IonItem>
                    
                    <IonItem>
                      <IonIcon Name="star" Slot="start"></IonIcon>
                      <IonLabel> Default Icon </IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Item Inputs</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                        <ion-input label="Default Input" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem>
                        <ion-input label="Fixed Input" label-placement="fixed" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem>
                        <ion-input label="Stacked Input" label-placement="stacked" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem>
                        <ion-input label="Floating Input" label-placement="floating" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem fill="outline">
                        <ion-input label="Floating Input: Outline (MD only)" label-placement="floating" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem fill="solid">
                        <ion-input label="Floating Input: Solid (MD only)" label-placement="floating" placeholder="Enter text"></ion-input>
                    </IonItem>
                    
                    <IonItem>
                        <ion-select label="Select" placeholder="Make a Selection">
                            <ion-select-option value="">No Game Console</ion-select-option>
                            <ion-select-option value="nes">NES</ion-select-option>
                            <ion-select-option value="n64">Nintendo64</ion-select-option>
                            <ion-select-option value="ps">PlayStation</ion-select-option>
                            <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                            <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                            <ion-select-option value="snes">SNES</ion-select-option>
                        </ion-select>
                    </IonItem>
                    
                    <IonItem>
                        <IonToggle>
                            <div>Toggle</div>
                        </IonToggle>
                    </IonItem>
                    
                    <IonItem>
                        <IonCheckBox>
                            <div>Checkbox</div>
                        </IonCheckBox>
                    </IonItem>
                    
                    <IonItem>
                        <ion-range label-placement="start">
                            <div slot="label">Range</div>
                        </ion-range>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <h3>Colors</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonItem>
                        <IonLabel>Default</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Primary">
                        <IonLabel>Primary</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Secondary">
                        <IonLabel>Secondary</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Tertiary">
                        <IonLabel>Tertiary</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Success">
                        <IonLabel>Success</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Warning">
                        <IonLabel>Warning</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Danger">
                        <IonLabel>Danger</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Light">
                        <IonLabel>Light</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Medium">
                        <IonLabel>Medium</IonLabel>
                    </IonItem>
                    <IonItem Color="@IconColor.Dark">
                        <IonLabel>Dark</IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h3>CSS Shadow Parts</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container css-shadow-parts">
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
    
        <h3>CSS Custom Properties</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container css-custom-properties">
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                    
                    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
                      <IonLabel>Custom Item</IonLabel>
                    </IonItem>
                </div>
            </div>
        </div>
        
        <h3>Input Highlight</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container input-highlight">
                    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched">
                      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused</IonLabel>
                      <ion-input></ion-input>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched ion-valid">
                      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused & Valid</IonLabel>
                      <ion-input></ion-input>
                    </IonItem>
                    
                    <IonItem Lines="@IonItemLines.Full" Class="item-has-focus ion-touched ion-invalid">
                      <IonLabel Position="@IonLabelPosition.Stacked">Custom Input Highlight: Focused & Invalid</IonLabel>
                      <ion-input></ion-input>
                    </IonItem>
                </div>
            </div>
        </div>
    </IonContent>
</div>