@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<IonApp Mode="@IonMode.Default">

    <div class="ion-page" id="main-content">
        <IonHeader>
            <IonToolbar>
                <IonButtons slot="start">
                    <IonMenuButton/>
                </IonButtons>
                <IonTitle>Menu</IonTitle>
            </IonToolbar>
        </IonHeader>

        <IonContent Class="container">
            @Body
        </IonContent>
    </div>

    <IonMenu @ref="@_mainMenu" ContentId="main-content" >
        <IonHeader Mode="@IonMode.MaterialDesign">
            <IonToolbar>
                <IonTitle>Menu Content</IonTitle>
            </IonToolbar>
        </IonHeader>
        <IonContent Class="ion-padding">
            <IonList>
                <IonItemGroup>

                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Action Sheet </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/action-sheet"))">
                        <IonLabel>ion-action-sheet</IonLabel>
                    </IonItem>

                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Accordion </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/accordion"))">
                        <IonLabel>ion-accordion</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Alert </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/alert"))">
                        <IonLabel>ion-alert</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Badge </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/badge"))">
                        <IonLabel>ion-badge</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Breadcrumbs </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/breadcrumbs"))">
                        <IonLabel>ion-breadcrumbs</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Button </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/button"))">
                        <IonLabel>ion-button</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/ripple-effect"))">
                        <IonLabel>ion-ripple-effect</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Card </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/card"))">
                        <IonLabel>ion-card</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Checkbox </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/checkbox"))">
                        <IonLabel>ion-checkbox</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Chip </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/chip"))">
                        <IonLabel>ion-chip</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Content </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/content"))">
                        <IonLabel>ion-content</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Content </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/content"))">
                        <IonLabel>ion-content</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Date & Time Pickers </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/date-time"))">
                        <IonLabel>ion-date-time</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/date-time-button"))">
                        <IonLabel>ion-date-time-button</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/picker"))">
                        <IonLabel>ion-picker</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/picker-legacy"))">
                        <IonLabel>ion-picker-legacy</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Floating Action Button </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/fab"))">
                        <IonLabel>ion-fab</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Grid </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/grid"))">
                        <IonLabel>ion-grid</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Infinite Scroll </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/infinite-scroll"))">
                        <IonLabel>ion-infinite-scroll</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Input </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/input"))">
                        <IonLabel>ion-input</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Item </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/item"))">
                        <IonLabel>ion-item</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/item-divider"))">
                        <IonLabel>ion-item-divider</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/item-group"))">
                        <IonLabel>ion-item-group</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/item-sliding"))">
                        <IonLabel>ion-item-sliding</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" Disabled="true" @onclick="@(() => { })">
                        <IonLabel>ion-item-options</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" Disabled="true" @onclick="@(() => { })">
                        <IonLabel>ion-item-option</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/label"))">
                        <IonLabel>ion-label</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/note"))">
                        <IonLabel>ion-note</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> List </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/list"))">
                        <IonLabel>ion-list</IonLabel>
                    </IonItem>
                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/list-header"))">
                        <IonLabel>ion-list-header</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Media </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/avatar"))">
                        <IonLabel>ion-avatar</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/icon"))">
                        <IonLabel>ion-icon</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/image"))">
                        <IonLabel>ion-img</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/thumbnail"))">
                        <IonLabel>ion-thumbnail</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Menu </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/menu"))">
                        <IonLabel>ion-menu</IonLabel>
                    </IonItem>

                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Toast </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/toast"))">
                        <IonLabel>ion-toast</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Popover </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/popover"))">
                        <IonLabel>ion-popover</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Select </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/select"))">
                        <IonLabel>ion-select</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Range </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/range"))">
                        <IonLabel>ion-range</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItemGroup>
                    <IonItemDivider Color="@IonColor.Primary" Sticky="@true">
                        <IonLabel> Progress Indicators </IonLabel>
                    </IonItemDivider>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/loading"))">
                        <IonLabel>ion-loading</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/progress-bar"))">
                        <IonLabel>ion-progress-bar</IonLabel>
                    </IonItem>

                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/spinner"))">
                        <IonLabel>ion-spinner</IonLabel>
                    </IonItem>
                    <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/skeleton-text"))">
                        <IonLabel>ion-skeleton-text</IonLabel>
                    </IonItem>
                </IonItemGroup>

                <IonItem Button="true" @onclick="@(() => NavigationManager.NavigateTo("/samples/searchbar"))">
                    <IonLabel>ion-searchbar</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/text"))">
                    <IonLabel>ion-text</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/toggle"))">
                    <IonLabel>ion-toggle</IonLabel>
                </IonItem>

                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/toolbar"))">
                    <IonLabel>ion-toolbar</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/tabs"))">
                    <IonLabel>ion-tabs</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/reorder"))">
                    <IonLabel>ion-reorder</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/refresher"))">
                    <IonLabel>ion-refresher</IonLabel>
                </IonItem>
                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/radio"))">
                    <IonLabel>ion-radio</IonLabel>
                </IonItem>
                <IonItem Button="true" @onclick="@(() => NavigationManager.NavigateTo("/samples/segment-button"))">
                    <IonLabel>ion-segment-button</IonLabel>
                </IonItem>

                <IonItem Button="@true" @onclick="@(() => NavigationManager.NavigateTo("/samples/modal"))">
                    <IonLabel>ion-modal</IonLabel>
                </IonItem>

            </IonList>
        </IonContent>
    </IonMenu>

</IonApp>