<IonItem Detail="@true">
    <IonLabel>
        <h3>Text Item</h3>
        <p>Detail set to true - Detail arrow displays on both modes</p>
    </IonLabel>
</IonItem>

<IonItem Button="@true">
    <IonLabel>
        <h3>Button Item</h3>
        <p>Default Detail - Detail arrow displays on iOS only</p>
    </IonLabel>
</IonItem>

<IonItem Button="@true" Detail="@true">
    <IonLabel>
        <h3>Button Item</h3>
        <p>Detail set to true - Detail arrow displays on both modes</p>
    </IonLabel>
</IonItem>

<IonItem Button="@true" Detail="@false">
    <IonLabel>
        <h3>Button Item</h3>
        <p>Detail set to false - Detail arrow hidden on both modes</p>
    </IonLabel>
</IonItem>

<IonItem Button="@true" Detail="@true" DetailIcon="caret-forward-outline">
    <IonLabel>
        <h3>Button Item</h3>
        <p>Detail set to true - Detail arrow displays on both modes</p>
        <p>Detail icon set to caret-forward-outline</p>
    </IonLabel>
</IonItem>