@page "/samples/toggle"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonToggle>Default Toggle</IonToggle><br /><br />
                    <IonToggle Checked="@true">Checked Toggle</IonToggle><br /><br />
                    <IonToggle Disabled="@true">Disabled Toggle</IonToggle><br /><br />
                    <IonToggle Checked="@true" Disabled="@true">Disabled Checked Toggle</IonToggle>
                </div>
            </div>
        </div>
        
        <h2>On / Off Labels</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonToggle EnableOnOffLabels="@true">Enable Notifications</IonToggle>
                </div>
            </div>
        </div>
        
        <h2>Toggles in a List</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonList>
                      <IonItem>
                        <IonToggle>Receive Push Notifications</IonToggle>
                      </IonItem>
                      <IonItem>
                        <IonToggle>Receive Emails</IonToggle>
                      </IonItem>
                      <IonItem>
                        <IonToggle>Receive Text Messages</IonToggle>
                      </IonItem>
                    </IonList>
                </div>
            </div>
        </div>
        
        <h2>Label Placement</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonToggle LabelPlacement="@IonLabelPlacement.Start">Label at the Start</IonToggle><br /><br />
                    <IonToggle LabelPlacement="@IonLabelPlacement.End">Label at the End</IonToggle><br /><br />
                    <IonToggle LabelPlacement="@IonLabelPlacement.Fixed">Fixed Width Label</IonToggle><br /><br />
                </div>
            </div>
        </div>
        
        <h2>Justification</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonList>
                      <IonItem>
                        <IonToggle Justify="@IonJustify.Start">Packed at the Start of Line</IonToggle>
                      </IonItem>
                      <IonItem>
                        <IonToggle Justify="@IonJustify.End">Packed at the End of Line</IonToggle>
                      </IonItem>
                      <IonItem>
                        <IonToggle Justify="@IonJustify.SpaceBetween">Space Between Label and Control</IonToggle>
                      </IonItem>
                    </IonList>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <h3>Colors</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonToggle aria-label="Primary toggle" Color="@IonColor.Primary" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Secondary toggle" Color="@IonColor.Secondary" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Tertiary toggle" Color="@IonColor.Tertiary" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Success toggle" Color="@IonColor.Success" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Warning toggle" Color="@IonColor.Warning" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Danger toggle" Color="@IonColor.Danger" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Light toggle" Color="@IonColor.Light" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Medium toggle" Color="@IonColor.Medium" Checked="@true"></IonToggle>
                    <IonToggle aria-label="Dark toggle" Color="@IonColor.Dark" Checked="@true"></IonToggle>
                </div>
            </div>
        </div>

    </IonContent>
</div>