@page "/samples/note"

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonNote>Default Note</IonNote>
        </div>
    </div>
</div>

<h2>Item Notes</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <ion-item>
              <ion-label>Label</ion-label>
              <IonNote slot="end">Note (End)</IonNote>
            </ion-item>

            <ion-item>
              <IonNote slot="start">Note (Start)</IonNote>
              <ion-label>Label</ion-label>
            </ion-item>
        </div>
    </div>
</div>

<h2>Theming</h2>
<h3>Colors</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonNote>Default Note</IonNote>
            <IonNote Color="@IonColor.Primary">Primary Note</IonNote>
            <IonNote Color="@IonColor.Secondary">Secondary Note</IonNote>
            <IonNote Color="@IonColor.Tertiary">Tertiary Note</IonNote>
            <IonNote Color="@IonColor.Success">Success Note</IonNote>
            <IonNote Color="@IonColor.Warning">Warning Note</IonNote>
            <IonNote Color="@IonColor.Danger">Danger Note</IonNote>
            <IonNote Color="@IonColor.Light">Light Note</IonNote>
            <IonNote Color="@IonColor.Medium">Medium Note</IonNote>
            <IonNote Color="@IonColor.Dark">Dark Note</IonNote>
        </div>
    </div>
</div>

<h3>CSS Custom Properties</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <CustomNote/>
        </div>
    </div>
</div>