@page "/samples/checkbox"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonCheckBox>I agree to the terms and conditions</IonCheckBox>
                    <br /><br />
                    <IonCheckBox>Default CheckBox</IonCheckBox>
                    <br /><br />
                    <IonCheckBox Checked="true">Checked CheckBox</IonCheckBox>
                    <br /><br />
                    <IonCheckBox Disabled="true">Disabled CheckBox</IonCheckBox>
                    <br /><br />
                    <IonCheckBox Checked="true" Disabled="true">Disabled Checked CheckBox</IonCheckBox>
                </div>
            </div>
        </div>

        <h2>Label Placement</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonCheckBox LabelPlacement="@IonLabelPlacement.Start">Label at the Start</IonCheckBox>
                    <br/>
                    <IonCheckBox LabelPlacement="@IonLabelPlacement.End">Label at the End</IonCheckBox>
                    <br/>
                    <IonCheckBox LabelPlacement="@IonLabelPlacement.Fixed">Fixed Width Label</IonCheckBox>
                </div>
            </div>
        </div>

        <h2>Justification</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <ion-list>
                      <ion-item>
                        <IonCheckBox Justify="start">Packed at the Start of Line</IonCheckBox>
                      </ion-item>
                        <ion-item>
                        <IonCheckBox Justify="end">Packed at the End of Line</IonCheckBox>
                      </ion-item>
                        <ion-item>
                        <IonCheckBox Justify="space-between">Space Between Label and Control</IonCheckBox>
                      </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

        <h2>Indeterminate Checkboxes</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonCheckBox Indeterminate="true">Indeterminate checkbox</IonCheckBox>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <h3>Colors</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonCheckBox aria-label="Primary toggle" Color="@IonColor.Primary" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Secondary toggle" Color="@IonColor.Secondary" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Tertiary toggle" Color="@IonColor.Tertiary" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Success toggle" Color="@IonColor.Success" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Warning toggle" Color="@IonColor.Warning" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Danger toggle" Color="@IonColor.Danger" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Light toggle" Color="@IonColor.Light" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Medium toggle" Color="@IonColor.Medium" Checked="true"></IonCheckBox>
                    <IonCheckBox aria-label="Dark toggle" Color="@IonColor.Dark" Checked="true"></IonCheckBox>
                </div>
            </div>
        </div>
        
        <h3>CSS Custom Properties</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <div class="custom-css">
                        <IonCheckBox>Themed checkbox</IonCheckBox>
                    </div>
                </div>
            </div>
        </div>

    </IonContent>
</div>