@page "/samples/content"

<PlaygroundContainer>
    <Header>
        <h2>Basic Usage</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <BasicUsage/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Header & Footer</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <HeaderAndFooter/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Fullscreen Content</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <FullscreenContent/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Fixed Content</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <FixedContent/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Scroll Methods</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <ScrollMethods/>
        </DevicePreview>
    </ChildContent>

</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Scroll By Point (relative)</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <ScrollByPoint/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Scroll To Point (absolute)</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <ScrollToPoint/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Scroll Events</h2>
    </Header>
    <ChildContent>
        <DevicePreview Mode="@IonMode.MaterialDesign">
            <ScrollEvents/>
        </DevicePreview>
    </ChildContent>
</PlaygroundContainer>