@page "/samples/list"
@using System.Dynamic

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonList>
                        <IonItem>
                            <IonLabel>Pokémon Yellow</IonLabel>
                        </IonItem>
                        <IonItem>
                            <IonLabel>Mega Man X</IonLabel>
                        </IonItem>
                        <IonItem>
                            <IonLabel>The Legend of Zelda</IonLabel>
                        </IonItem>
                        <IonItem>
                            <IonLabel>Pac-Man</IonLabel>
                        </IonItem>
                        <IonItem>
                            <IonLabel>Super Mario World</IonLabel>
                        </IonItem>
                    </IonList>
                </div>
            </div>
        </div>
        
        <h3>IonListOf&lt;T&gt;</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonListOf TItem="ListOfItem" ItemsSource="@_itemsSource">
                        <ItemTemplate>
                            <IonItem>
                                <IonLabel>@context.Title</IonLabel>
                            </IonItem>
                        </ItemTemplate>
                    </IonListOf>
                </div>
            </div>
        </div>
        
        <h2>Inset List</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonList Inset="@true">
                      <IonItem>
                        <IonLabel>Pokémon Yellow</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Mega Man X</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>The Legend of Zelda</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Pac-Man</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Super Mario World</IonLabel>
                      </IonItem>
                    </IonList>
                </div>
            </div>
        </div>
        
        <h2>List Lines</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonList Lines="@IonListLines.Full">
                      <IonItem>
                        <IonLabel>Full Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Full Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Full Lines</IonLabel>
                      </IonItem>
                    </IonList>
                    
                    <IonList Lines="@IonListLines.Inset">
                      <IonItem>
                        <IonLabel>Inset Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Inset Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>Inset Lines</IonLabel>
                      </IonItem>
                    </IonList>
                    
                    <IonList Lines="@IonListLines.None">
                      <IonItem>
                        <IonLabel>No Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>No Lines</IonLabel>
                      </IonItem>
                      <IonItem>
                        <IonLabel>No Lines</IonLabel>
                      </IonItem>
                    </IonList>
                </div>
            </div>
        </div>
        
        
    </IonContent>
</div>