@page "/samples/toast"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Inline Toasts (Recommended)</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <InlineToasts/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Using <code>isOpen</code></h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <UsingIsOpen/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Controller Toasts</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <ControllerToasts/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Dismissing</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <Dismissing/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Positioning</h2>
        <h2>Relative Positioning</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Layout</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <Layout/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Icons</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <Icons/>
                    </DevicePreview>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DevicePreview Mode="@IonMode.MaterialDesign">
                        <Theming/>
                    </DevicePreview>
                </div>
            </div>
        </div>

    </IonContent>
</div>