@page "/icon"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <PreviewContainer Title="Basic Usage">
            <IonIcon Name="logo-ionic"></IonIcon>
            <IonIcon Name="logo-ionic" Size="@IconSize.Large"></IonIcon>
            <IonIcon Name="logo-ionic" Color="@IconColor.Primary"></IonIcon>
            <IonIcon Name="logo-ionic" Size="@IconSize.Large" color="@IconColor.Primary"></IonIcon>
            <IonIcon src="/img/blazor.svg" Size="@IconSize.Large"></IonIcon>            
        </PreviewContainer>
    </IonContent>
</div>

