<div class="css-shadow-parts">
    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
      <IonLabel>Custom Item</IonLabel>
    </IonItem>
    
    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
      <IonLabel>Custom Item</IonLabel>
    </IonItem>
    
    <IonItem Button="@true" Detail="@true" Lines="@IonItemLines.Full">
      <IonLabel>Custom Item</IonLabel>
    </IonItem>
</div>